#sf-footer .lower-footer {
    margin-top: 0;
    padding: 24px 0 25px 0;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.1);
    color: #e8e8e8;
}
#sf-footer .upper-footer {
    padding: 24px 0 25px 0;
    width: 100%;
}
#sf-footer .upper-footer h5 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#sf-footer .content-box {
    font-size: 13px;
    color: #e8e8e8;
}
#sf-footer section .content-box {
    color: #666;
    font-size: 16px;
    text-align: center;
    max-width: 768px;
    margin: auto;
    margin-bottom: 60px;
}
#sf-footer .get-in-touch-item > div:first-child {
    margin-bottom: 15px;
}
#sf-footer .upper-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sf-footer .upper-footer ul li {
    display: inline-block;
}
#sf-footer .upper-footer ul li a {
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    padding: 8px 12px;
    display: block;
}
#sf-footer .upper-footer a:hover {
    transition: .25s;
    opacity: .5;
}
#sf-footer .get-in-touch-item i.fa {
    color: #31d093;
}
#sf-footer .footer-form {
    display: flex;
    flex-direction: column;
}
#sf-footer .footer-form > div {
    flex: 1;
}
.footer-map > div {
    height: 460px;
}
.footer-map > div + div {
    position: relative!important;
}
#sf-footer .get-in-touch-item .content-box {
    margin-bottom: 0;
}
@media (max-width: 992px) {
    #sf-footer,
    #sf-footer .content-box {
        text-align: center;
    }
    #sf-footer .upper-footer h5 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
}
@media (max-width: 1200px) {
    #sf-footer .get-in-touch-item > div:first-child {
        margin-bottom: 15px;
        margin-top: 30px;
    }
}
.foot{
    width: 90%!important;
}